.home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 1050px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}
